body {
    background-color: aquamarine;
}

.wrapper{
    text-align: center;
    margin-top: 400px;
}

.text,.input-field{
    font-family: cursive;
    font-size: 32px;
}

.input-field{
    width: 300px;
    margin-bottom: 8px;
}

#submit{
    font-family: cursive;
    font-size: 26px;
}